In [1]:
import pandas as pd
import numpy as np

np.random.seed(10)

data = []

sizes = {
    "S":  {"bust": (82, 88),  "waist": (64, 70),  "hip": (88, 94),  "weight": (45, 55),  "height": (150, 160)},
    "M":  {"bust": (89, 95),  "waist": (71, 77),  "hip": (95, 101), "weight": (56, 65),  "height": (155, 165)},
    "L":  {"bust": (96, 102), "waist": (78, 84),  "hip": (102,108), "weight": (66, 75),  "height": (160, 170)},
    "XL": {"bust": (103,110),"waist": (85, 92),  "hip": (109,116), "weight": (76, 90),  "height": (165, 175)}
}

for size, ranges in sizes.items():
    for _ in range(25):  # 25 rows per size â†’ 100 total
        data.append({
            "Height": np.random.randint(*ranges["height"]),
            "Weight": np.random.randint(*ranges["weight"]),
            "Bust":   np.random.randint(*ranges["bust"]),
            "Waist":  np.random.randint(*ranges["waist"]),
            "Hip":    np.random.randint(*ranges["hip"]),
            "Size": size
        })

df = pd.DataFrame(data)

df.to_csv("women_clothing_size_100.csv", index=False)

df.head()

   Height  Weight  Bust  Waist  Hip Size
0     159      49    82     65   91    S
1     159      45    87     65   90    S
2     158      54    82     66   88    S
3     156      49    85     64   92    S
4     156      53    85     66   89    S